{% extends "base.html" %}
{% set active_page = "articles" %}

{% block content %}
    <div class="container-fluid mt-3 text-center">
        <!--form column-->
        <div class="col-10 mx-auto my-4">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col-3">
                                <select id="source" name="source" class="form-control">
                                    <option value="" selected>All Sources...</option>
                                    {% for source in sources %}
                                        {% if args.get('source') == source[0] %}
                                            <option selected>{{ source[0] }}</option>
                                        {% else %}
                                            <option>{{ source[0] }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <input type="text" id="keywords" name="keywords" class="form-control" placeholder="Keywords (comma separated)"  value="{{ args['keywords'] }}">
                            </div>
                            <div class="col-2">
                                <input type="date" name="date" max="3000-12-31" value="{{ args['date'] }}"
                                       min="1000-01-01" class="form-control">
                            </div>
                            <div class="col-2">
                                    <input type="date" name="bday" min="1000-01-01"
                                           max="3000-12-31" class="form-control">
                            </div>
                            <div class="col-1 mx-auto">
                                <button type="submit" class="btn btn-primary mx-auto">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--table column-->
        <div class="col-11 mx-auto ">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        {% for column in columns %}
                            <th>{{column}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for article in articles %}
                    <tr>
                        <td>
                        {% if article[1] %}
                            <a href="https://www.doi.org/{{article[1]}}">{{article[0]}}</a>
                        {% else %}
                            {% if article[3] == "UPTODATE" %}
                                <a href="https://www.uptodate.com/home/covid-19-access">{{article[0]}}</a>
                            {% elif article[3] == "EMA" %}
                                <a href="https://ema.europa.eu/{{article[0].replace('URL:', '')}}">{{article[0]}}</a>
                            {% endif %}
                        {% endif %}
                            <br>
                            <a href="./articles/{{article[0]}}" title="See article details" class="text-warning">
                                <span class="oi oi-dashboard" title="See article analysis" aria-hidden="true"
                                      data-toggle="tooltip" data-placement="bottom" style="font-size: 1.5em"></span>
                            </a>
                        </td>
                        <td>{{article[2] | capitalize}}</td>
                        <td>
                            <div class="badge badge-primary">{{article[3]}}</div>
                            <br>
                            <p class="text-muted font-weight-light small">{{article[4].split()[0]}}</p>
                        </td>
                        <td>{{article[5]}}</td>
                        <td>
                            {% for kw, cnt in (article[7] | evaluate).items() %}
                                <a href="?keywords={{ kw }}" class="badge badge-light">{{ kw }}: {{ cnt }}</a>
                            {% endfor %}
                        </td>
                    <td><span class="badge badge-secondary" data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Sum of keywords: <b>{{article[8]}}</b><br>Total words: <b>{{article[6]}}</b>">{{article[8]}} / {{article[6]}}</span>

                    </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}