{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}

    <div class="container mt-3 text-center">
        <!-- info color cards -->
        <div class="row">
            <div class="col-6 col-lg-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="oi oi-document"></i>
                        </div>
                            <h5 data-toggle="tooltip" data-placement="top" title="Number of unique scraped articles."
                                class="card-title text-uppercase">Scraped Articles</h5>
                        <h4 class="display-4">{{ articles_count[0] }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="oi oi-data-transfer-download"></i>
                        </div>
                            <h5 data-toggle="tooltip" data-placement="top" title="Number of unique journals or sources."
                                class="card-title text-uppercase">Scraped Sources</h5>
                        <h4 class="display-4">8</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="oi oi-key"></i>
                        </div>
                            <h5 data-toggle="tooltip" data-placement="top" title="Number of keywords we are looking on articles."
                                class="card-title text-uppercase">Keywords</h5>
                        <h4 class="display-4">57</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="oi oi-calendar"></i>
                        </div>
                            <h5 data-toggle="tooltip" data-placement="top" title="Last day our scraper ran."
                                class="card-title text-uppercase">Last Updated</h5>
                        <h4 class="display-4">{{ last_update.strftime('%b %d') }}</h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- top two charts -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card mb-2">
                    <div class="card-header">Number of articles scraped per web source
                        <div class="float-right" data-toggle="tooltip" title="See chart description">
                                    <span class="oi oi-question-mark" data-toggle="modal"
                                          data-charttype="Articles per source"
                                          data-target="#chartDescription"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="{{ids[0]}}"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card mb-2">
                    <div class="card-header">Network graph of keywords
                        <div class="float-right" data-toggle="tooltip" title="See chart description">
                                    <span class="oi oi-question-mark" data-toggle="modal" data-charttype="Network graph"
                                          data-target="#chartDescription"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="{{ids[2]}}"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--middle two charts-->
        <div class="row">
            <div class="col-10 mx-auto">
                <div id="chart3" class="mx-auto">
                    <div class="card mb-2">
                        <div class="card-header">Keywords
                            <div class="float-right" data-toggle="tooltip" title="See chart description">
                                    <span class="oi oi-question-mark" data-toggle="modal" data-charttype="Keyword"
                                          data-target="#chartDescription"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="{{ids[1]}}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 mx-auto">
                <div id="chart4" class="mx-auto">
                    <div class="card mb-2">
                        <div class="card-header">Evolution of keywords
                            <div class="float-right" data-toggle="tooltip" title="See chart description">
                                    <span class="oi oi-question-mark" data-toggle="modal" data-charttype="Keyword evolution"
                                          data-target="#chartDescription"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="{{ids[3]}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--bottom sigle chart-->
        <div class="row">
            <div class="col-12 my-3">
                <h3>Topic Model</h3>
                <i>A topic model <a href="https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation">(LDA)</a>
                    is retrained every time to detect topics on all articles scraped. Each
                    topic consists of a combination of words, whereby each word contributes to the topic with a
                    certain weight. For example,
                    a topic can consist out of 50% sars-covid-2, 30% infection and 20% psoriasis. Each article
                    is categorized into a topic based on its abstract.
                </i>
            </div>
            <div class="col-12">
                <div id="chart5" class="mx-auto">
                    <div class="card mb-2">
                        <div class="card-header">Word count and importance per topic
                            <div class="float-right" data-toggle="tooltip" title="See chart description">
                                    <span class="oi oi-question-mark" data-toggle="modal" data-charttype="Topic model"
                                          data-target="#chartDescription"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="{{ids_topic[0]}}"></div>
                        </div>
                    </div>
                </div>
                <div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="chartDescription" tabindex="-1" role="dialog" aria-labelledby="chartDescription"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chart description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a role="button" target="_blank" class="btn btn-primary" id="MoreInfoBtn">More Info</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    // plots the figure with id
    let figures = {{figuresJSON | safe}};
    let ids = {{ids | safe}};
    for(var i in figures) {
        Plotly.plot(ids[i],
            figures[i].data,
            figures[i].layout || {});
    }

    // plots the figure with id
    // id much match the div id above in the html
    var topics_figures = {{topics_figures_json | safe}};
    var ids_topic = {{ids_topic | safe}};
    for(var i in topics_figures) {
        Plotly.plot(ids_topic[i],
            topics_figures[i].data,
            topics_figures[i].layout || {});
    }

    // enable tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    // handle chart type variations
    $('#chartDescription').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let charttype = button.data('charttype');

        let modal = $(this);
        modal.find('.modal-title').text(charttype + ' chart description.');
        if (charttype === "Keyword") {
            modal.find('.modal-body').text("This chart visualizes the top keywords occuring in abstracts of articles published in the indicated time frame. If this is the first time a keyword appears, it's indicated in gold. This chart allows for zooming.");
            modal.find('#MoreInfoBtn').attr('href', 'https://plotly.com/python/bar-charts/#basic-bar-chart-with-plotlygraphobjects');
        } else if (charttype === "Keyword evolution") {
            modal.find('.modal-body').text('This chart shows how keywords evolve over time. If you hover over a point, you see the date and number of times the keyword occured in abstracts published on this date. You can check and uncheck keywords by clicking on them in the legend. This chart allows for zooming.');
            modal.find('#MoreInfoBtn').attr('href', 'https://plotly.com/python/line-charts/');
        } else if (charttype === "Network graph") {
            modal.find('.modal-body').text('This graph visualizes all keywords occuring in abstracts of the scraped articles. Only articles of the indicated time frame are taken into account. If a keyword occurs together with another keyword in a particular abstract, they are connected. The more connections a keyword has, the larger the size of its node. A spiral layout was chosen for this plot. This plot allows for zooming and selection.');
            modal.find('#MoreInfoBtn').attr('href', 'https://networkx.github.io/documentation/stable/reference/drawing.html');
        } else if (charttype === "Violin") {
            modal.find('.modal-body').text('A violin chart is good for visualizing variations of values compared to a universe.');
            modal.find('#MoreInfoBtn').attr('href', 'https://plotly.com/python/violin/');
        } else if (charttype === "Articles per source") {
            modal.find('.modal-body').text('This chart visualizes the number of unique articles scraped per web source up to the last updated date. This chart allows for zooming.');
            modal.find('#MoreInfoBtn').attr('href', 'https://plotly.com/python/bar-charts/#basic-bar-chart-with-plotlygraphobjects');
        } else if (charttype === "Topic model") {
            modal.find('.modal-body').text('This chart visualizes the words of which the topics are composed. On the left y-axis, you observe how frequent a word occurs in all articles. On the right y-axis, you find the weight (or importance) of this word for this topic. This chart allows for zooming. By hovering over the chart, you can find more details on the words.');
            modal.find('#MoreInfoBtn').attr('href', 'https://radimrehurek.com/gensim/auto_examples/index.html');
        }
    });

    document.getElementById(ids[0]).on('plotly_click', function(data){
        location.href = "/articles?source=" + data.points[0].x;
    });
    document.getElementById(ids[1]).on('plotly_click', function(data){
        location.href = "/articles?keywords=" + data.points[0].x;
    });
    document.getElementById(ids[2]).on('plotly_click', function(data){
        location.href = "/articles?keywords=" + data.points[0].text;
    });
</script>
{% endblock %}